<!DOCTYPE html>
<html ng-app="microsoft">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
    <style type="text/css" media="all">
      body { 
    		padding-top: 65px; 
      }
			a:hover {
				text-decoration: none;
			}
			a:active {
				text-decoration: none;
			}
    </style>
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EMC Real-time Bigger Data</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav><br />
  	<div class="container" ng-controller="MsInvController">
			<div class="dropdown" ng-cloak>
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					<span ng-bind="selectedCustomer"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li ng-repeat="company in companyList">
						<a role="menuitem" tabindex="-1" href="#" ng-click="getData(company.id,company.name)">{{company.name}}</a>
					</li>
				</ul>
			</div>
			<a href="#">
      	<span class="label label-default"><span class="glyphicon glyphicon-plus"></span> Add New Customer</span><br />
			</a>
      <div class="controls-left">
				<select ng-model="itemsByPage" ng-options="item.id as item.id for item in pageNums" ng-change="">
        	<option value="15">15</option>
      	</select>
      </div>
			<br />
			<!--<h2><span ng-show="myData" class="label label-primary" ng-bind="myData['name']"></span></h2><br />
			<h3><span class="label label-info" ng-show="myData"><span class="badge" ng-show="myData"><span class="glyphicon glyphicon-snowflake" aria-hidden="true"></span></span>&nbsp;<span ng-bind="myData['weather']['weather']"></span></span></h3>-->
			<div class="table-container">
			<table st-table="displayedData" st-safe-src="myData" class="table table-striped scroll">
				<thead>
					<tr>
						<th st-sort="CS_CUSTOMER_NAME">Customer Name</th>
						<th st-sort="ITEM_SERIAL_NUMBER">S/N</th>
						<th st-sort="PRODUCT_FAMILY">Product</th>
						<th st-sort="MODEL">Model</th>
						<th st-sort="MICROCODE">Microcode</th>
						<th st-sort="City">City</th>
						<th st-sort="PARTY_NUMBER">SiteID</th>
						<th st-sort="ITEM_INSTALL_DATE">Install Date</th>
						<th st-sort="CONTRACT_SUBLINE_END_DATE">Contract End</th>
					</tr>
					<tr>
						<th colspan="6"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in displayedData">
						<td ng-bind="row.CS_CUSTOMER_NAME"></td>
						<td ng-bind="row.ITEM_SERIAL_NUMBER"></td>
						<td ng-bind="row.PRODUCT_FAMILY"></td>
						<td ng-bind="modelName(row.MODEL)"></td>
						<td ng-bind="row.MICROCODE"></td>
						<td ng-bind="row.City"></td>
						<td ng-bind="row.PARTY_NUMBER"></td>
						<td ng-bind="row.ITEM_INSTALL_DATE"></td>
						<td ng-bind="row.CONTRACT_SUBLINE_END_DATE"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-left">
							<div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		</div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script type="text/javascript" src="https://raw.githubusercontent.com/lorenzofox3/Smart-Table/master/dist/smart-table.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="ngbootstrap.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
